
<div class=" mb-4 shadow-smm well">
  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
  <div class="card-body">
    <h4>user@email.com asked</h4>
    <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  </div>
</div>

<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#new-anwser-modal">Submit answer</button>

<%= render ("layouts/new_answer_form")%>

<div class="row m-md">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
      <div class="card-body">
        <h4>user@email.com asked</h4>
        <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
      <div class="card-body">
        <h4>user@email.com asked</h4>
        <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>
  </div>
</div>