<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">History of the Universe</a>
  <div style="color: white"><%= current_user_email %></div>
  <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#new-question-modal">Ask a Question</button>
</nav>